<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>574371213426-9onfnuc7f5p2fr0vt6ltr8ef3lcqp2an.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574371213426-9onfnuc7f5p2fr0vt6ltr8ef3lcqp2an</string>
	<key>API_KEY</key>
	<string>AIzaSyAV04ClGY_TmMaEEzzwjRGfrG8wRac2bAw</string>
	<key>GCM_SENDER_ID</key>
	<string>574371213426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.Follow</string>
	<key>PROJECT_ID</key>
	<string>follow-1162</string>
	<key>STORAGE_BUCKET</key>
	<string>follow-1162.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:574371213426:ios:09840e7fd2a8867e</string>
	<key>DATABASE_URL</key>
	<string>https://follow-1162.firebaseio.com</string>
</dict>
</plist>